.svn
*.pyc
*.aux
*.aux.bak
hott-*.pdf
main.pdf
errata*.pdf
*.dvi
*.bbl
*.fls
*.toc
*.blg
*.brf
*.log
*.out
*.out.ps
*.sed
*.synctex.gz
*.nav
*.snm
*.idx
*.idx.bak
*.ilg
*.ind
auto/*
*~
\#*
.\#*
cover/torus/preimg/*
cover/torus/srcimg/*
cover/torus/dstimg/*
_region_*
TAGS
.DS_Store
*.fdb_latexmk
main.labels
main.labelnumbers
exercise_solutions.pdf
indexterms.txt
cover-*.pdf
version.tex
hott-arxiv.tex
hott-arxiv.tar.gz
/Ustmry.fd
/barrdoc.pdf
/base.zip
/base/
/braket.sty
/color.cfg
/comment.sty
/dvitogif89a
/empheq.drv
/empheq.dtx
/empheq.ins
/empheq.sty
/enumitem.sty
/etoolbox.def
/etoolbox.sty
/install-tds
/mathtools.drv
/mathtools.dtx
/mathtools.ins
/mathtools.sty
/mathtools.zip
/mathtools/
/mhsetup.drv
/mhsetup.dtx
/mhsetup.ins
/mhsetup.sty
/movie.cls
/nextpage.sty
/pgf.cfg
/pgf.revision.tex
/pgf.sty
/pgf.tex
/pgfarrows.sty
/pgfautomata.sty
/pgfbaseimage.sty
/pgfbaseimage.tex
/pgfbaselayers.sty
/pgfbaselayers.tex
/pgfbasematrix.sty
/pgfbasematrix.tex
/pgfbasepatterns.sty
/pgfbasepatterns.tex
/pgfbaseplot.sty
/pgfbaseplot.tex
/pgfbaseshapes.sty
/pgfbaseshapes.tex
/pgfbasesnakes.sty
/pgfbasesnakes.tex
/pgfcalendar.code.tex
/pgfcalendar.sty
/pgfcalendar.tex
/pgfcomp-version-0-65.sty
/pgfcomp-version-1-18.sty
/pgfcore.code.tex
/pgfcore.sty
/pgfcore.tex
/pgfcorearrows.code.tex
/pgfcoreexternal.code.tex
/pgfcoregraphicstate.code.tex
/pgfcoreimage.code.tex
/pgfcorelayers.code.tex
/pgfcoreobjects.code.tex
/pgfcorepathconstruct.code.tex
/pgfcorepathprocessing.code.tex
/pgfcorepathusage.code.tex
/pgfcorepatterns.code.tex
/pgfcorepoints.code.tex
/pgfcorequick.code.tex
/pgfcorerdf.code.tex
/pgfcorescopes.code.tex
/pgfcoreshade.code.tex
/pgfcoretransformations.code.tex
/pgfcoretransparency.code.tex
/pgfexternal.tex
/pgfexternalwithdepth.tex
/pgffor.code.tex
/pgffor.sty
/pgffor.tex
/pgfheaps.sty
/pgfint.code.tex
/pgfkeys.code.tex
/pgfkeys.sty
/pgfkeys.tex
/pgfkeysfiltered.code.tex
/pgflibraryarrows.code.tex
/pgflibraryarrows.meta.code.tex
/pgflibraryarrows.spaced.code.tex
/pgflibraryarrows.sty
/pgflibraryautomata.sty
/pgflibrarybbox.code.tex
/pgflibrarycurvilinear.code.tex
/pgflibrarydatavisualization.barcharts.code.tex
/pgflibrarydatavisualization.formats.functions.code.tex
/pgflibrarydatavisualization.polar.code.tex
/pgflibrarydecorations.footprints.code.tex
/pgflibrarydecorations.fractals.code.tex
/pgflibrarydecorations.markings.code.tex
/pgflibrarydecorations.pathmorphing.code.tex
/pgflibrarydecorations.pathreplacing.code.tex
/pgflibrarydecorations.shapes.code.tex
/pgflibrarydecorations.text.code.tex
/pgflibraryfadings.code.tex
/pgflibraryfixedpointarithmetic.code.tex
/pgflibraryfpu.code.tex
/pgflibrarygraphdrawing.circular.code.tex
/pgflibrarygraphdrawing.code.tex
/pgflibrarygraphdrawing.examples.code.tex
/pgflibrarygraphdrawing.force.code.tex
/pgflibrarygraphdrawing.layered.code.tex
/pgflibrarygraphdrawing.trees.code.tex
/pgflibraryintersections.code.tex
/pgflibrarylindenmayersystems.code.tex
/pgflibraryluamath.code.tex
/pgflibrarypatterns.code.tex
/pgflibrarypatterns.meta.code.tex
/pgflibraryplothandlers.code.tex
/pgflibraryplothandlers.sty
/pgflibraryplotmarks.code.tex
/pgflibraryplotmarks.sty
/pgflibraryprofiler.code.tex
/pgflibraryshadings.code.tex
/pgflibraryshapes.arrows.code.tex
/pgflibraryshapes.callouts.code.tex
/pgflibraryshapes.code.tex
/pgflibraryshapes.gates.ee.IEC.code.tex
/pgflibraryshapes.gates.ee.code.tex
/pgflibraryshapes.gates.logic.IEC.code.tex
/pgflibraryshapes.gates.logic.US.code.tex
/pgflibraryshapes.gates.logic.code.tex
/pgflibraryshapes.geometric.code.tex
/pgflibraryshapes.misc.code.tex
/pgflibraryshapes.multipart.code.tex
/pgflibraryshapes.sty
/pgflibraryshapes.symbols.code.tex
/pgflibrarysnakes.code.tex
/pgflibrarysnakes.sty
/pgflibrarysvg.path.code.tex
/pgflibrarytikzbackgrounds.sty
/pgflibrarytikztrees.sty
/pgflibrarytimelines.code.tex
/pgfmath.code.tex
/pgfmath.sty
/pgfmath.tex
/pgfmathcalc.code.tex
/pgfmathfloat.code.tex
/pgfmathfunctions.base.code.tex
/pgfmathfunctions.basic.code.tex
/pgfmathfunctions.code.tex
/pgfmathfunctions.comparison.code.tex
/pgfmathfunctions.integerarithmetics.code.tex
/pgfmathfunctions.misc.code.tex
/pgfmathfunctions.random.code.tex
/pgfmathfunctions.round.code.tex
/pgfmathfunctions.trigonometric.code.tex
/pgfmathode.code.tex
/pgfmathparser.code.tex
/pgfmathtestsuite.tex
/pgfmathutil.code.tex
/pgfmoduleanimations.code.tex
/pgfmodulebending.code.tex
/pgfmoduledatavisualization.code.tex
/pgfmoduledecorations.code.tex
/pgfmodulematrix.code.tex
/pgfmodulenonlineartransformations.code.tex
/pgfmoduleoo.code.tex
/pgfmoduleparser.code.tex
/pgfmoduleplot.code.tex
/pgfmoduleshapes.code.tex
/pgfmodulesnakes.code.tex
/pgfmodulesorting.code.tex
/pgfnodes.sty
/pgfpages.sty
/pgfpict2e.sty
/pgfrcs.code.tex
/pgfrcs.sty
/pgfrcs.tex
/pgfshade.sty
/pgfsys-common-pdf-via-dvi.def
/pgfsys-common-pdf.def
/pgfsys-common-postscript.def
/pgfsys-common-svg.def
/pgfsys-dvi.def
/pgfsys-dvipdfm.def
/pgfsys-dvipdfmx.def
/pgfsys-dvips.def
/pgfsys-dvisvgm.def
/pgfsys-luatex.def
/pgfsys-pdftex.def
/pgfsys-tex4ht.def
/pgfsys-textures.def
/pgfsys-vtex.def
/pgfsys-xetex.def
/pgfsys.code.tex
/pgfsys.sty
/pgfsys.tex
/pgfsysanimations.code.tex
/pgfsysprotocol.code.tex
/pgfsyssoftpath.code.tex
/pgfutil-common-lists.tex
/pgfutil-common.tex
/pgfutil-context.def
/pgfutil-latex.def
/pgfutil-plain.def
/pnmrawtopcropwhite.c
/soul.dtx
/soul.ins
/soul.sty
/stmary10.600pk
/stmary10.657pk
/stmary10.mf
/stmary10.tfm
/stmary5.600pk
/stmary5.mf
/stmary5.tfm
/stmary6.600pk
/stmary6.mf
/stmary6.tfm
/stmary7.600pk
/stmary7.mf
/stmary7.tfm
/stmary8.600pk
/stmary8.mf
/stmary8.tfm
/stmary9.600pk
/stmary9.mf
/stmary9.tfm
/stmaryaj.mf
/stmaryba.mf
/stmarych.mf
/stmaryjg.mf
/stmaryrd.dtx
/stmaryrd.ins
/stmaryrd.mf
/stmaryrd.sty
/stmaryrd.zip
/stmaryrd/
/supertabular.dtx
/supertabular.ins
/supertabular.sty
/svgnam.def
/t-pgf.tex
/t-pgfbim.tex
/t-pgfbla.tex
/t-pgfbma.tex
/t-pgfbpl.tex
/t-pgfbpt.tex
/t-pgfbsh.tex
/t-pgfbsn.tex
/t-pgfcal.tex
/t-pgfcor.tex
/t-pgffor.tex
/t-pgfkey.tex
/t-pgfmat.tex
/t-pgfmod.tex
/t-pgfrcs.tex
/t-pgfsys.tex
/t-tikz.tex
/tikz.code.tex
/tikz.sty
/tikz.tex
/tikzexternal.sty
/tikzexternalshared.code.tex
/tikzexternaltest.code.tex
/tikzexternaltest.sharedpreamble.tex
/tikzexternaltest.tex
/tikzexternaltestmakefile.tex
/tikzlibrary3d.code.tex
/tikzlibraryangles.code.tex
/tikzlibraryanimations.code.tex
/tikzlibraryarrows.code.tex
/tikzlibraryautomata.code.tex
/tikzlibrarybabel.code.tex
/tikzlibrarybackgrounds.code.tex
/tikzlibrarybending.code.tex
/tikzlibrarycalc.code.tex
/tikzlibrarycalendar.code.tex
/tikzlibrarychains.code.tex
/tikzlibrarycircuits.code.tex
/tikzlibrarycircuits.ee.IEC.code.tex
/tikzlibrarycircuits.ee.code.tex
/tikzlibrarycircuits.logic.CDH.code.tex
/tikzlibrarycircuits.logic.IEC.code.tex
/tikzlibrarycircuits.logic.US.code.tex
/tikzlibrarycircuits.logic.code.tex
/tikzlibrarydatavisualization.3d.code.tex
/tikzlibrarydatavisualization.barcharts.code.tex
/tikzlibrarydatavisualization.code.tex
/tikzlibrarydatavisualization.formats.functions.code.tex
/tikzlibrarydatavisualization.polar.code.tex
/tikzlibrarydatavisualization.sparklines.code.tex
/tikzlibrarydecorations.code.tex
/tikzlibrarydecorations.footprints.code.tex
/tikzlibrarydecorations.fractals.code.tex
/tikzlibrarydecorations.markings.code.tex
/tikzlibrarydecorations.pathmorphing.code.tex
/tikzlibrarydecorations.pathreplacing.code.tex
/tikzlibrarydecorations.shapes.code.tex
/tikzlibrarydecorations.text.code.tex
/tikzlibraryer.code.tex
/tikzlibraryexternal.code.tex
/tikzlibraryfadings.code.tex
/tikzlibraryfit.code.tex
/tikzlibraryfixedpointarithmetic.code.tex
/tikzlibraryfolding.code.tex
/tikzlibraryfpu.code.tex
/tikzlibrarygraphdrawing.code.tex
/tikzlibrarygraphdrawing.evolving.code.tex
/tikzlibrarygraphs.code.tex
/tikzlibrarygraphs.standard.code.tex
/tikzlibraryintersections.code.tex
/tikzlibrarylindenmayersystems.code.tex
/tikzlibrarymath.code.tex
/tikzlibrarymatrix.code.tex
/tikzlibrarymindmap.code.tex
/tikzlibrarypatterns.code.tex
/tikzlibrarypatterns.meta.code.tex
/tikzlibraryperspective.code.tex
/tikzlibrarypetri.code.tex
/tikzlibraryplothandlers.code.tex
/tikzlibraryplotmarks.code.tex
/tikzlibrarypositioning.code.tex
/tikzlibraryquotes.code.tex
/tikzlibraryrdf.code.tex
/tikzlibraryscopes.code.tex
/tikzlibraryshadings.code.tex
/tikzlibraryshadows.code.tex
/tikzlibraryshapes.arrows.code.tex
/tikzlibraryshapes.callouts.code.tex
/tikzlibraryshapes.code.tex
/tikzlibraryshapes.gates.logic.IEC.code.tex
/tikzlibraryshapes.gates.logic.US.code.tex
/tikzlibraryshapes.geometric.code.tex
/tikzlibraryshapes.misc.code.tex
/tikzlibraryshapes.multipart.code.tex
/tikzlibraryshapes.symbols.code.tex
/tikzlibrarysnakes.code.tex
/tikzlibraryspy.code.tex
/tikzlibrarysvg.path.code.tex
/tikzlibrarythrough.code.tex
/tikzlibrarytopaths.code.tex
/tikzlibrarytrees.code.tex
/tikzlibraryturtle.code.tex
/tikzlibraryviews.code.tex
/titleps.sty
/titlesec.sty
/titlesec.zip
/titlesec/
/titletoc.sty
/unittest_luamathparser.tex
/wallpaper.sty
/x11nam.def
/xcolor.dtx
/xcolor.ins
/xcolor.lox
/xcolor.pro
/xcolor.sty
/xcolor1.tex
/xcolor2.tex
/xcolor3.tex
/xcolor4.tex
/xstring.sty
/xstring.tex
/xxcolor.sty
/xy.sty
/xy.tex
/xy16textures.tex
/xy17oztex.tex
/xy2cell.tex
/xy389dict.pro
/xy389src.tar.gz
/xyall.tex
/xyarc.tex
/xyarrow.tex
/xyatip.mf
/xyatip10.afm
/xyatip10.mf
/xyatip10.pfb
/xyatip10.pfm
/xyatip10.tfm
/xyatri.mf
/xybarr.tex
/xybsql10.afm
/xybsql10.mf
/xybsql10.pfb
/xybsql10.pfm
/xybsql10.tfm
/xybtip.mf
/xybtip10.afm
/xybtip10.mf
/xybtip10.pfb
/xybtip10.pfm
/xybtip10.tfm
/xybtri.mf
/xycirc.enc
/xycirc10.afm
/xycirc10.mf
/xycirc10.pfb
/xycirc10.pfm
/xycirc10.tfm
/xycm.mf
/xycmactex.tex
/xycmat10.afm
/xycmat10.mf
/xycmat10.pfb
/xycmat10.pfm
/xycmat10.tfm
/xycmat11.afm
/xycmat11.mf
/xycmat11.pfb
/xycmat11.pfm
/xycmat11.tfm
/xycmat12.afm
/xycmat12.mf
/xycmat12.pfb
/xycmat12.pfm
/xycmat12.tfm
/xycmbt10.afm
/xycmbt10.mf
/xycmbt10.pfb
/xycmbt10.pfm
/xycmbt10.tfm
/xycmbt11.afm
/xycmbt11.mf
/xycmbt11.pfb
/xycmbt11.pfm
/xycmbt11.tfm
/xycmbt12.afm
/xycmbt12.mf
/xycmbt12.pfb
/xycmbt12.pfm
/xycmbt12.tfm
/xycmtip.tex
/xycolor.tex
/xycrayon.tex
/xycurve.tex
/xyd.enc
/xyd.mf
/xyd2.enc
/xyd2.mf
/xydash10.afm
/xydash10.mf
/xydash10.pfb
/xydash10.pfm
/xydash10.tfm
/xydummy.tex
/xydvidrv.tex
/xydvips.tex
/xydvitops.tex
/xyemtex.tex
/xyeuat10.afm
/xyeuat10.mf
/xyeuat10.pfb
/xyeuat10.pfm
/xyeuat10.tfm
/xyeuat11.afm
/xyeuat11.mf
/xyeuat11.pfb
/xyeuat11.pfm
/xyeuat11.tfm
/xyeuat12.afm
/xyeuat12.mf
/xyeuat12.pfb
/xyeuat12.pfm
/xyeuat12.tfm
/xyeubt10.afm
/xyeubt10.mf
/xyeubt10.pfb
/xyeubt10.pfm
/xyeubt10.tfm
/xyeubt11.afm
/xyeubt11.mf
/xyeubt11.pfb
/xyeubt11.pfm
/xyeubt11.tfm
/xyeubt12.afm
/xyeubt12.mf
/xyeubt12.pfb
/xyeubt12.pfm
/xyeubt12.tfm
/xyeuler.mf
/xyframe.tex
/xygraph.tex
/xyguide.pdf
/xyidioms.tex
/xyimport.tex
/xyknot.tex
/xyline.tex
/xyline10.mf
/xyline10.tfm
/xylu.mf
/xyluat10.afm
/xyluat10.mf
/xyluat10.pfb
/xyluat10.pfm
/xyluat10.tfm
/xyluat11.afm
/xyluat11.mf
/xyluat11.pfb
/xyluat11.pfm
/xyluat11.tfm
/xyluat12.afm
/xyluat12.mf
/xyluat12.pfb
/xyluat12.pfm
/xyluat12.tfm
/xylubt10.afm
/xylubt10.mf
/xylubt10.pfb
/xylubt10.pfm
/xylubt10.tfm
/xylubt11.afm
/xylubt11.mf
/xylubt11.pfb
/xylubt11.pfm
/xylubt11.tfm
/xylubt12.afm
/xylubt12.mf
/xylubt12.pfb
/xylubt12.pfm
/xylubt12.tfm
/xymacpat.xyp
/xymatrix.tex
/xymisc10.mf
/xymisc10.tfm
/xymovie.tex
/xynecula.tex
/xyoztex.tex
/xypdf-co.tex
/xypdf-cu.tex
/xypdf-fr.tex
/xypdf-li.tex
/xypdf-ro.tex
/xypdf.pdf
/xypdf.tex
/xypic.map
/xypic.sty
/xypic.tex
/xypic.zip
/xypic/
/xypicture.tex
/xypoly.tex
/xyps-c.tex
/xyps-col.tex
/xyps-f.tex
/xyps-l.tex
/xyps-pro.tex
/xyps-ps.tex
/xyps-r.tex
/xyps-s.tex
/xyps-t.tex
/xyps.tex
/xypsdict.tex
/xypspatt.tex
/xyqc10.mf
/xyqc10.tfm
/xyrecat.tex
/xyrefer.pdf
/xyrotate.tex
/xysmart.tex
/xysource.pdf
/xytech.mf
/xytextures.tex
/xytile.tex
/xytips.tex
/xytp-f.tex
/xytpic.tex
/xyv2.tex
/xyweb.tex
/xyxdvi.tex
