.svn
*.pyc
*.aux
*.aux.bak
hott-*.pdf
main.pdf
errata*.pdf
*.dvi
*.bbl
*.fls
*.toc
*.blg
*.brf
*.log
*.out
*.out.ps
*.sed
*.synctex.gz
*.nav
*.snm
*.idx
*.idx.bak
*.ilg
*.ind
auto/*
*~
\#*
.\#*
cover/torus/preimg/*
cover/torus/srcimg/*
cover/torus/dstimg/*
_region_*
TAGS
.DS_Store
*.fdb_latexmk
main.labels
main.labelnumbers
exercise_solutions.pdf
indexterms.txt
cover-lulu-paperback.pdf
cover-lulu-hardcover.pdf
cover-letter.pdf
version.tex
hott-arxiv.tex
hott-arxiv.tar.gz
