.svn
*.aux
main.pdf
main-txa.pdf
*.dvi
*.bbl
*.fls
*.toc
*.blg
*.brf
*.log
*.out
*.synctex.gz
*.nav
*.snm
*.idx
*.ilg
*.ind
auto/*
*~
\#*
.\#*
cover/torus/preimg/*
cover/torus/srcimg/*
cover/torus/dstimg/*
cover/cover.pdf
_region_*
TAGS
.DS_Store
*.fdb_latexmk
